.navbar{
    display: flex;
    justify-self: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.navbar-logo{
    display: flex;
    align-items: center;
    gap:10px;

}

.navbar-logo img{
    width: 100px;
    height: 100px;
}

.navbar-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-login-cart img{
    width: 20px;
    height: 20px;
}